.dash-window{
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-side-nav{
    background-color: #6bb9f0;
    width: 25%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left-side-nav li{
    margin-left: -40px;
}

.right-side{
    margin: auto auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pantry-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pantry-item-container li{
    margin-right: 10px;
}

.pantry-item-container img{
    height: 20px;
}